
header {
  height: 100%;
  position: relative;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header:has(.dot) {
  align-items: center;
}

header .content {
  width: 100%;

  /* border: 2px solid red; */
}

header .content h1 {
  margin-bottom: 2rem;
  font-size: clamp(1.5rem, 1.5vw + .5rem, 3rem);
  font-weight: 600;
  text-align: left;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

header .content h1 #name-header {
  animation: background-pan 3.5s infinite;
  background: linear-gradient(
    to right, 
    var(--clr-primary),
    var(--clr-secondary),
    var(--clr-slate),
    var(--clr-primary)
  );
  background-size: 200%;
  background-clip: text;
  white-space: nowrap;
  -webkit-text-fill-color: transparent;
}

header .content p:first-child {
  font-size: clamp(1.5rem, 1.5vw + .5rem, 3rem);
  font-weight: 500;
  text-align: left;
}

header .content .titles {
  display: flex;
  gap: 1rem;
}
header .content .titles p {
  font-size: clamp(0.5rem, 1.5vw + .5rem, 1.25rem);
  font-weight: 500;
  margin-bottom: 1rem;
}

header .content .socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

header .content .socials a {
  text-align: center;
  
}

header .content .socials a svg{

  height: clamp(1.5rem, 1.5vw + 0.5rem, 2rem);
  width: 100%;
  font-size: clamp(0.25rem, 1.5vw + 0.5rem, 2rem);
}

/* header .content .socials .icons {
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linejoin: round;
    stroke: 2;

} */

header .content .socials .icon-hover svg path {
  transition: all 0.5s ease;
}

svg path {
  fill: var(--clr-primary) ;
}

header .content .socials .icon-hover svg:hover path {
  fill: rgba(29, 43, 83, 0.8);
  cursor: pointer;
  transition: all 1s ease;

}

.dot {
  display: block;
}

.dot a p {
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
}

.dot a{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 0.75rem;
  background-color: rgba(29, 43, 83, 0.9);
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}




